In [1]:
import pandas as pd
import random
import numpy

#Random vote generator:
def Rand_vote(start, end, num): 
    votes = [] 
  
    for j in range(num): 
        votes.append(random.randint(start, end)) 

    return votes 


#Candidate 1
can1_num,can1_start,can1_end  = 1000000,1,5
can1 = Rand_vote(can1_start, can1_end, can1_num)

#Candidate 2
can2_num,can2_start,can2_end  = 1000000,1,5
can2 = Rand_vote(can2_start, can2_end, can2_num)

#Candidate 3
can3_num,can3_start,can3_end  = 1000000,1,5
can3 = Rand_vote(can3_start, can3_end, can3_num)

#Candidate 4
can4_num,can4_start,can4_end  = 1000000,1,5
can4 = Rand_vote(can4_start, can4_end, can4_num)

#Candidate 5
can5_num,can5_start,can5_end  = 1000000,1,5
can5 = Rand_vote(can5_start, can5_end, can5_num)

In [2]:
ballots = {'Candidate_1': can1,
           'Candidate_2': can2,
           'Candidate_3': can3,
           'Candidate_4': can4,
           'Candidate_5': can5
        }

df = pd.DataFrame(ballots, columns = ['Candidate_1','Candidate_2', 'Candidate_3', 'Candidate_4', 'Candidate_5'])

In [3]:
df.head()

   Candidate_1  Candidate_2  Candidate_3  Candidate_4  Candidate_5
0            5            4            4            1            5
1            3            3            5            4            4
2            1            4            5            3            1
3            1            5            5            1            1
4            2            4            4            5            5

In [4]:
#it works ¯\_(ツ)_/¯
df = df[(df["Candidate_1"] != df['Candidate_2']) & (df["Candidate_1"] != df['Candidate_3']) & (df["Candidate_1"] != df['Candidate_4']) & (df["Candidate_1"] != df['Candidate_5'])]
df = df[(df["Candidate_2"] != df['Candidate_1']) & (df["Candidate_2"] != df['Candidate_3']) & (df["Candidate_2"] != df['Candidate_4']) & (df["Candidate_2"] != df['Candidate_5'])]
df = df[(df["Candidate_3"] != df['Candidate_2']) & (df["Candidate_3"] != df['Candidate_1']) & (df["Candidate_3"] != df['Candidate_4']) & (df["Candidate_3"] != df['Candidate_5'])]
df = df[(df["Candidate_4"] != df['Candidate_2']) & (df["Candidate_4"] != df['Candidate_3']) & (df["Candidate_4"] != df['Candidate_1']) & (df["Candidate_4"] != df['Candidate_5'])]
df = df[(df["Candidate_5"] != df['Candidate_2']) & (df["Candidate_5"] != df['Candidate_3']) & (df["Candidate_5"] != df['Candidate_4']) & (df["Candidate_5"] != df['Candidate_1'])]

In [5]:
df.head()

    Candidate_1  Candidate_2  Candidate_3  Candidate_4  Candidate_5
31            2            4            3            5            1
35            1            4            5            2            3
40            1            4            3            5            2
62            1            3            2            4            5
84            2            1            3            4            5

In [6]:
df.shape

(38236, 5)

In [7]:
df = df.reset_index()
del df['index']

In [8]:
wrong_votes = df.sample(frac =.1)

wrong_votes[['Candidate_1','Candidate_2','Candidate_3','Candidate_4','Candidate_5']] = 0
df.update(wrong_votes)

df.head(20)

    Candidate_1  Candidate_2  Candidate_3  Candidate_4  Candidate_5
0           2.0          4.0          3.0          5.0          1.0
1           1.0          4.0          5.0          2.0          3.0
2           1.0          4.0          3.0          5.0          2.0
3           1.0          3.0          2.0          4.0          5.0
4           0.0          0.0          0.0          0.0          0.0
5           1.0          5.0          4.0          2.0          3.0
6           2.0          3.0          5.0          1.0          4.0
7           2.0          5.0          1.0          4.0          3.0
8           0.0          0.0          0.0          0.0          0.0
9           2.0          4.0          5.0          1.0          3.0
10          5.0          3.0          2.0          4.0          1.0
11          3.0          4.0          5.0          1.0          2.0
12          1.0          3.0          4.0          5.0          2.0
13          4.0          5.0          1.0          2.0          3.0
14          3.0          5.0          1.0          4.0          2.0
15          0.0          0.0          0.0          0.0          0.0
16          4.0          2.0          1.0          5.0          3.0
17          0.0          0.0          0.0          0.0          0.0
18          5.0          3.0          2.0          4.0          1.0
19          2.0          4.0          5.0          3.0          1.0

In [9]:
# I think we should talk a bit about the noise stats during next meeting.