In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("election_04-30-2020_21-08-54_3_0.02.csv")

In [9]:
df.head()

   Unnamed: 0  candidate_1  candidate_2  candidate_3
0           0  candidate_1  candidate_2  candidate_3
1           1  candidate_1  candidate_2  candidate_3
2           2  candidate_1  candidate_2  candidate_3
3           3  candidate_1  candidate_2  candidate_3
4           4  candidate_1  candidate_2  candidate_3

In [10]:
df = df.dropna(axis=1, how='all')
df = df.drop(['Unnamed: 0'], axis=1)
print('df.shape',df.shape)

df.shape (28129, 3)

In [11]:
df['candidate_list'] = df.iloc[:, 1:].agg(", ".join, axis=1)

In [12]:
df.head()

   candidate_1  candidate_2  candidate_3            candidate_list
0  candidate_1  candidate_2  candidate_3  candidate_2, candidate_3
1  candidate_1  candidate_2  candidate_3  candidate_2, candidate_3
2  candidate_1  candidate_2  candidate_3  candidate_2, candidate_3
3  candidate_1  candidate_2  candidate_3  candidate_2, candidate_3
4  candidate_1  candidate_2  candidate_3  candidate_2, candidate_3

In [13]:
df.candidate_list.head()

0    candidate_2, candidate_3
1    candidate_2, candidate_3
2    candidate_2, candidate_3
3    candidate_2, candidate_3
4    candidate_2, candidate_3
Name: candidate_list, dtype: object

In [14]:
list_of_unique_vals_in_dataframe = df.iloc[:, 1].value_counts().index
cand_list = list(filter(lambda x: x != '0', list_of_unique_vals_in_dataframe))

In [16]:
list_of_unique_vals_in_dataframe

Index(['candidate_2', 'candidate_1', 'candidate_3', '0'], dtype='object')

In [17]:
cand_list

['candidate_2', 'candidate_1', 'candidate_3']